<div class="game-block <%= round_name %>">
	<div class="row col-sm-12" style="height: 100%; margin:0; padding: 0;">
		<div class="col-sm-8" style="height: 100%; padding:0;">
			<% game.slots.each do |slot| %>
				<%= render 'slots/slot', slot: slot %>
			<% end %>

		</div>
		<div class="col-sm-4" style="height:100%; padding:0;">
			<table style="height: 100%; width:100%;">
				<tr></tr>
				<tr>
					<td style="border-top: 3px solid gray;"></td>
					<td style="border-left: 3px solid gray;"></td>
				</tr>
				<tr>
					<td style="border-bottom: 3px solid gray;"></td>
					<td style="border-left:3px solid gray; border-top:3px solid gray;"></td>
				</tr>
				<tr></tr>
			</table>
		</div>
	</div>
</div>
