<%= render 'header' %>

<div class="region-block">
	<h1><%= @region.name %> Region</h1>

	<div class="round-block">Champion</div>
	<% @rounds.each do |round| %>
		<%= render 'rounds/round', round: round %>
	<% end %>
</div>
